TELEGRAM_BOT_TOKEN=8201207952:AAGxeasWHR6u-l3SiNyf5h4U7Pa4oQTsEAM
TELEGRAM_CHAT_ID=5386705371
EXCHANGE=binance
API_KEY=LrqxBxZSdapKGxQyYovKXGMnoY81Skkt3Wmxx9OwAOxRMc2gvITpJGFsx4ar2oVH
API_SECRET=OtSLTjZM3paY14PSTBENprd0ajNixnHHEZrhJUrZWSw2bdeGx2TiSgKi68GzjiN7
MARKET_TYPE=future
SYMBOLS=BTC/USDT:USDT,ETH/USDT:USDT,LTC/USDT:USDT,BNB/USDT:USDT,DOGE/USDT:USDT
BASE_USDT=15
RISK_ATR_MULT=1.5
LEVERAGE=10
POLL_INTERVAL=60
LIVE_TRADE=0
PARTIAL_TP_RATIO=0.3
SL_ATR_MULT=2.0
TP_ATR_MULT=3.0
MACD_FILTER_TIMEFRAME=4h
